.a {
  background-color: rgba(128, 128, 128, 0.637);
  height: auto;
  width: 60%;
}
.profile {
  height: 50%;
  width: 50%;
  display: inline;
  padding: 10%;
}

.i1 {
  border-radius: 25%;
  height: 300px;
  padding: 30px;
}
